*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.container{
  width: 80vw;
  margin: auto;
}

/* HEADER TOP */
nav.top{
  padding: 25px 0;
  background-color: lightgreen;
  border-bottom: 2px solid black;
}

.top-left-mondo{
  background-color: lightblue;
  height: 50px;
  width: 50px;
}

.top-left-select{
  background-color: pink;
  height: 50px;
  width: 100px;
}

.top-left-contact{
  background-color: yellow;
  height: 50px;
  width: 100px;
}

/* HEADER MIDDLE */
nav.middle{
  height: 100px;
  background-color: orange;
}

/* HEADER BOTTOM */
nav.bottom{
  height: 800px;
  background-color: pink
}

/* HEADER STRISCIA */
div.striscia{
  height: 100px;
  background-color: lightblue;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}
