*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

a:hover{
  text-decoration: underline;
}

select{
  border: none;
  font-size: 20px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.container{
  width: 60vw;
  margin: auto;
}

/* HEADER TOP */
nav.top{
  background-color: rgb(212, 241, 245);
  padding: 25px 0;
  border-bottom: 2px solid black;
  font-size: 20px;
  width: 100vw;
}

nav.top div.container div{
  line-height: 50px;
  text-align: center;
}

/* HEADER TOP LEFT */
.top-left-mondo{
  height: 50px;
  width: 50px;
}

.top-left-mondo i{
  height: 50px;
  width: 50px;
}

.top-left-select{
  height: 50px;
  width: 100px;
  padding-right: 10px;
}

.top-left-select select{
  background-color: rgb(212, 241, 245);
}

.top-left-contact{
  height: 50px;
  width: 120px;
  border-left: 2px solid black;
}

/* HEADER TOP RIGHT */
/* .top-right-ricerca{
  display: none;
} */

.top-right-lente{
  height: 50px;
  width: 50px;
  font-size: 40px;
  margin-right: 10px;
}

.top-right-lente:hover{
  cursor: pointer;
}

/* .top-right-lente:hover div.top-right-ricerca{
  display:
} */

.top-right-login{
  height: 50px;
  width: 100px;
  background-color: white;
  border: 3px solid rgb(233, 106, 58);
  border-radius: 5px;
  color: rgb(233, 106, 58);
}

.top-right-login:hover{
color: white;
border: 3px solid white;
border-radius: 5px;
background-color: rgb(233, 106, 58);
cursor: pointer;
}

.top-right-get{
  height: 50px;
  width: 200px;
  margin-left: 10px;
  background-color: rgb(233, 106, 58);
  border: 3px solid white;
  border-radius: 5px;
  color: white;
}

.top-right-get:hover{
color: rgb(233, 106, 58);
border: 3px solid rgb(233, 106, 58);
border-radius: 5px;
background-color: white;
cursor: pointer;
}

/* HEADER MIDDLE */

header nav.middle{
  width: 100vw;
}

/* HEADER MIDDLE LEFT */
nav.middle div.logo img{
  height: 80px;
  margin-top: 10px;
}

/* HEADER MIDDLE LEFT */
nav.middle div.logo{
  height: 100px;
  width: 200px;
}

/* HEADER MIDDLE RIGHT */
nav.middle div{
  line-height: 50px;
}

nav.middle div.software{
  margin: 25px 0;
  height: 50px;
  width: 150px;
}

nav.middle div.pricing{
  margin: 25px 0;
  height: 50px;
  width: 100px;
}

nav.middle div.resources{
  margin: 25px 0;
  height: 50px;
  width: 150px;
}

nav.middle div.partners{
  margin: 25px 0;
  height: 50px;
  width: 150px;
}

nav.middle div.about{
  margin: 25px 0;
  height: 50px;
  width: 100px;
}

/* HEADER BOTTOM */
nav.bottom{
  height: 800px;
  background-color: #FFF4EF;
  background-image: url('../img/sfondoheader.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;
  width: 100vw;
}

div.header-bottom-box{
  width: 50%;
}

nav.bottom p.scritta-uno{
  font-size: 70px;
  padding-top: 10%;
  font-weight: bold;
}

nav.bottom p.scritta-due{
  font-size: 20px;
  line-height: 40px;
  margin-top: 20px;
}

nav.bottom p.scritta-tre{
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: rgb(233, 106, 58);
  padding: 20px;
  border: 3px solid white;
  border-radius: 5px;
  margin-top: 20px;
  width: 300px;
}

nav.bottom p.scritta-tre:hover{
color: rgb(233, 106, 58);
border: 3px solid rgb(233, 106, 58);
border-radius: 5px;
background-color: white;
cursor: pointer;
}

nav.bottom p.scritta-quattro{
  font-size: 20px;
  margin-top: 20px;
  width: 70%;
}

/* HEADER STRISCIA */
div.striscia{
  height: 83px;
  width: 100vw;
  background-color: #AFEBE4;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  position: absolute;
  bottom: 0;
}

/* MAIN */

/* MAIN TOP */
section.main-top{
  background-color: rgb(212, 241, 245);
  width: 100vw;
  padding: 30px 0;
}

section.main-top i{
  color: rgb(233, 106, 58);
}

/* MAIN TOP ZONA SCRITTE */
.cubi{
  height: 300px;
  text-align: center;
  padding: 20px;
}

.main-top-scritta-grande{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  padding-top: 125px;
}

.main-top-scritta-piccola{
  font-size: 30px;
  text-align: center;
  margin: auto;
  width: 70%;
  padding: 25px 0 25px;
}
/* MAIN TOP ZONA SCRITTE */

/* MAIN TOP ZONA CENTRO-LIBRO */
.main-top-box-centro{
  background-color: white;
  width: 100%;
  padding: 60px;
}

div.libro{
  padding-right: 40px;
}

div.libro img{
  width: 300px;
}

div.libro p{
  color: white;
  padding: 20px;
  width: 300px;
  background-color: rgb(233, 106, 58);
  border: 3px solid rgb(233, 106, 58);
  text-align: center;
  border-radius: 5px;
}

div.libro p:hover{
  background-color: white;
  color: rgb(233, 106, 58);
  border: 3px solid rgb(233, 106, 58);
  cursor: pointer;
}

.main-top-box-centro-scritte{
  width: 60%;
}

.main-top-box-centro-scritte #scritta-uno{
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0 10px;
}

.main-top-box-centro-scritte #scritta-due{
  font-weight: bold;
  padding: 10px 0 10px;
}

div.scritta-riga{
  padding: 20px 0 ;
}

div.scritta-riga p{
  font-weight: bold;
}

.main-top-box-centro-scritte-sotto p{
  display: inline-block;
  padding-right: 10px;
  font-weight: bold;
}
/* MAIN TOP ZONA CENTRO-LIBRO */

/* MAIN TOP ZONA SOTTO-3 BOX */
.main-top-box-sotto{
  width: 100%;
  margin: 30px 0 30px;
  text-align: center;
}

div.main-top-box-sotto-figlio{
  background-color: white;
  width: 30%;
  text-align: center;
  padding: 20px;
  display: inline-block;
}

div.main-top-box-sotto img{
  height: 200px;
}

#scritta-uno-box{
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0 10px;
}

#scritta-due-box{
  font-weight: bold;
  padding: 10px 0 40px;
}

#scritta-tre-box{
  font-weight: bold;
  padding: 30px 0 30px;
}

.learn-more{
  margin: auto;
  background-color: rgb(233, 106, 58);
  border: 3px solid rgb(233, 106, 58);
  border-radius: 5px;
  color: white;
  width: 200px;
  padding: 20px;
  margin-top: 40px;
}

.main-top-box-sotto-figlio .learn-more:hover{
  background-color: white;
  color: rgb(233, 106, 58);
  border: 3px solid rgb(233, 106, 58);
  cursor: pointer;
}

.main-top-box-bottom p{
  padding-right: 10px;
  float: left;
  font-weight: bold;
}
/* MAIN TOP ZONA SOTTO-3 BOX */
/* MAIN TOP */

/* MAIN MIDDLE */
section.main-middle{
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: white;
  width: 100vw;
  padding: 100px 0;
}

#main-middle-scritta-grande{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  width: 70%;
}

#main-middle-scritta-piccola{
  font-size: 30px;
  text-align: center;
  margin: auto;
  width: 70%;
  padding: 25px 0 100px;
}


/* ZONA MINI BOX */
.blocco{
  width: 100%;
}

.mini-box{
  width: calc(60vw / 4);
  height: calc(60vw / 4);
  text-align: center;
  padding: 80px;
}

.mini-box div p{
  display: inline-block;
  vertical-align: middle;
}

.mini-box i, .mini-box div p:first-child{
  font-size: 50px;
}

.mini-box img{
  height: 50px;
}

.mini-box p{
  font-size: 20px;
}

.mini-box-sopra{
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.mini-box-sopra-destro{
  border-bottom: 2px solid white;
}

.mini-box-sotto{
  border-right: 2px solid white;
}

.mini-box-sotto-destro{
}
/* ZONA MINI BOX */
/* MAIN MIDDLE */

/* MAIN BOTTOM */
section.main-bottom{
  background-color: white;
  width: 100vw;
}

/* ZONA DATI */
.dati{
  width: 40%;
  padding: 50px 0;
}

.dati p:first-child{
  font-size: 50px;
  font-weight: bold;
}

.dati p:last-child{
  font-size: 20px;
  width: 50%;
}
/* ZONA DATI */

/* ZONA SPONSOR */
.zona-sponsor{
  width: 60%;
}
.box-sponsor{
  height: 100px;
  width: 140px;
  margin: 10px;
  position: relative;
}

.box-sponsor img{
  width: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ZONA SPONSOR */

/* ZONA START */
.start{
  margin-bottom: 100px;
}

div.start div{
  width: 66%;
}

div.start img{
  width: 33%;
}

.main-bottom-scritte p.scritta-uno{
  font-size: 50px;
  padding-top: 10%;
  font-weight: bold;
}

.main-bottom-scritte p.scritta-due{
  font-size: 20px;
  line-height: 40px;
  margin-top: 20px;
  width: 70%;
}

.main-bottom-scritte p.scritta-tre{
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: rgb(233, 106, 58);
  padding: 20px;
  border: 3px solid white;
  border-radius: 5px;
  margin-top: 20px;
  width: 300px;
}

.main-bottom-scritte p.scritta-tre:hover{
color: rgb(233, 106, 58);
border: 3px solid rgb(233, 106, 58);
border-radius: 5px;
background-color: white;
cursor: pointer;
}

.main-bottom-scritte p.scritta-quattro{
  font-size: 20px;
  margin-top: 20px;
  width: 70%;
}
/* ZONA START */

/* MAIN BOTTOM */

/* FINE MAIN */

/* FOOTER */
footer{
  background-color: #2D3E50;
  color: white;
  padding: 30px 0;
}

footer div{
  font-size: 20px;
  line-height: 40px;
}

footer div p{
  font-weight: bold;
}

.footer-box{
  width: 25%;
}

.footer-box a{
  display: block;
  color: white;
}

.iconcine i{
  margin-right: 20px;
  font-size: 40px;
}

.iconcine i:hover{
  color: #2D3E50;
  background-color: white;
  cursor: pointer;
}

.footer-contact{
  background-color: white;
  color: #2D3E50;
  border: 3px solid white;
  border-radius: 5px;
  text-align: center;
  width: 75%;
  margin: 20px 0;
}

.footer-contact:hover{
  background-color: #2D3E50;
  color: white;
  cursor: pointer;
  border: 3px solid white;
}

footer .footer-lingue{
  text-align: center;
}

footer .footer-lingue a{
  display: inline-block;
  padding: 0 20px;
  color: white;
}

.footer-left, .footer-right{
  padding: 20px 0;
}

div.footer-left img{
  height: 60px;
}

footer .footer-right a{
  display: inline-block;
  padding: 0 20px;
  color: white;
}
/* FOOTER */
