*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.container{
  width: 80vw;
  margin: auto;
}

/* HEADER TOP */
nav.top{
  padding: 25px 0;
  background-color: lightgreen;
  border-bottom: 2px solid black;
}

nav.top div.container div{
  line-height: 50px;
  text-align: center;
}

/* HEADER TOP LEFT */
.top-left-mondo{
  background-color: lightblue;
  height: 50px;
  width: 50px;
}

.top-left-select{
  background-color: pink;
  height: 50px;
  width: 100px;
}

.top-left-contact{
  background-color: yellow;
  height: 50px;
  width: 100px;
  border-left: 2px solid black;
}

/* HEADER TOP RIGHT */
.top-right-lente{
  background-color: lightblue;
  height: 50px;
  width: 50px;
}

.top-right-login{
  background-color: pink;
  height: 50px;
  width: 100px;
}

.top-right-get{
  background-color: yellow;
  height: 50px;
  width: 150px;
}

/* HEADER MIDDLE */
nav.middle{
  background-color: orange;
}

/* HEADER MIDDLE LEFT */
nav.middle div.logo img{
  height: 80px;
  margin-top: 10px;
}

/* HEADER MIDDLE LEFT */
nav.middle div.logo{
  background-color: lightblue;
  height: 100px;
  width: 200px;
}

/* HEADER MIDDLE RIGHT */
nav.middle div{
  line-height: 50px;
  text-align: center;
}

nav.middle div.software{
  background-color: yellow;
  margin: 25px 0;
  height: 50px;
  width: 100px;
}

nav.middle div.pricing{
  background-color: pink;
  margin: 25px 0;
  height: 50px;
  width: 100px;
}

nav.middle div.resources{
  background-color: yellow;
  margin: 25px 0;
  height: 50px;
  width: 100px;
}

nav.middle div.partners{
  background-color: pink;
  margin: 25px 0;
  height: 50px;
  width: 100px;
}

nav.middle div.about{
  background-color: yellow;
  margin: 25px 0;
  height: 50px;
  width: 100px;
}

/* HEADER BOTTOM */
nav.bottom{
  height: 800px;
  background-color: pink;
  background-image: url('../img/sfondoheader.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

div.header-bottom-box{
  width: 50%;
}

nav.bottom p.scritta-uno{
  font-size: 80px;
  padding-top: 10%;
}

nav.bottom p.scritta-due{

  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
}

nav.bottom p.scritta-tre{
  text-align: center;
  font-size: 20px;
  background-color: orange;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  width: 300px;
}

nav.bottom p.scritta-quattro{
  font-size: 20px;
  margin-top: 20px;
}

/* HEADER STRISCIA */
div.striscia{
  height: 100px;
  background-color: lightblue;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  position: relative;
  transform: translateY(-100%);
}
